section {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#calcultator {
  position: relative;
}

#calculator-front-svg {
  z-index: 10;
  position: absolute;
  top: 5.5rem;
  left: 5.5rem;
  height: 20rem;
}

#calculator-back-svg {
  z-index: 5;
  position: absolute;
  top: 5rem;
  left: 5rem;
  height: 21rem;
}

#display-container {
  display: flex;
  flex-direction: column;
  z-index: 25;
  width: 10.3rem;
  height: 4rem;
  position: absolute;
  top: 6.5rem;
  left: 6.5rem;
}

textarea {
  margin: 0;
  border: none;
  resize: none;
  border-radius: 0;
  white-space: nowrap;
  direction: ltr;
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: thin; 
}
::-webkit-scrollbar {
  /* width: 2em; */
  height: 0.3em
}
::-webkit-scrollbar-button {
  background: #ccc
}
::-webkit-scrollbar-track-piece {
  background: #888
}
::-webkit-scrollbar-thumb {
  background: #eee
}​
::-webkit-scrollbar:hover {
  cursor: pointer;
}

#history-display {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#display {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}


.calculator-button {
  height: 2rem;
  width: 2rem;
  /* background-color: #888; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: linear-gradient(145deg, #686868, #575757);
  box-shadow:  8px 8px 16px #525252, 
              -8px -8px 16px #707070;
}

#button-container {
  z-index: 20;
  position: absolute;
  top: 12.2rem;
  left: 6.5rem;

  width: 11.3rem;
  height: 12.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}